*{
  list-style-type: none;
}

body {
  background-color: #bbb;
}
div.line {
  border-left: 6px solid #0C618C;
  height: 90%;
  position:absolute;
  left: 50%;
  top: 5%;
  bottom: 5%;
}

div:not(.line) {
  height: 220px;
  width: 300px;
  background-color: #fff;
  margin-top: .5%;
  -moz-box-shadow:    3px 3px 3px 3px #333;
  -webkit-box-shadow: 3px 3px 3px 3px #333;
  box-shadow:         3px 3px 3px 3px #333;
}

div.absolute-right {
  margin-left: 58%;
}

div.absolute-left-1 {
  left: auto;
  right: 20px;
  text-align: right;
  margin-left: 20%;
}

div.absolute-left-2 {
  left: auto;
  right: 20px;
  text-align: right;
  margin-left: 20%;
}

div.absolute-left {
  margin-left: 20%;
}

/*makes circle background for fa icons */
i.circle-icon {
  background: #0C618C;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
  vertical-align: middle;
  padding: 5px;
  color: #fff;
}

i.fai-left {
  position: relative;
  left: 34%;
}

i.fai-right {
  position: relative;
  right: 38%;
}

h2.title {
  text-align: left;
  top: -25%;
  margin: 0% 0% 10% 10%;
  padding-bottom: 10px;
}

h2.title2 {
  text-align: left;
  top: -25%;
  margin: 0% 0% 10% 10%;
  padding-bottom: 30px;
}

p.body-paragraph {
  position: relative;
  font-size: 14px;
  text-align: center;
  padding: 0px 8px;
}

p.body-paragraph2 {
  position: relative;
  font-size: 14px;
  text-align: center;
  bottom: 22px;
}

p.body-paragraph3{
  position: relative;
  font-size: 14px;
  text-align: center;
  padding: 0 15%;
}

button.more-button1 {
  position: relative;
  background-color: #0C618C;
  border: none;
  cursor: pointer;
}

button.more-button2 {
  position: relative;
  background-color: #0C618C;
  border: none;
  cursor: pointer;
  top: -35px;
  margin-left: 10px;
}

span.more-button {
  color: #fff;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}

section.move {
  position: relative;
  padding-right: 60%;
}

i.fai-left::after {
  content: "";

  height: 0;
  width: 0;

  border-top: solid 15px #fff;

  border-bottom: solid 15px transparent;
  border-right: solid 15px transparent;

  position: absolute;
  top: 50%;
  right: 300%;
}

i.fai-right::after {
  content: "";

  height: 0;
  width: 0;

  border-top: solid 15px #fff;

  border-left: solid 15px transparent;
  border-bottom: solid 15px transparent;

  position: absolute;
  top: 25%;
  right: -290%;
}

img {
  position: relative;
  width: 100%;
  height: 110px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

section.up {
  position: relative;
  top: -13.5%;
}

h2.card {
  position: absolute;
  top: 20%;
  left: 10%;
  color: #fff;
}

section.small-line {
  border-left: 6px solid #0C618C;
  height: 10%;
  position:absolute;
  left: 22%;
  top: 81.5%;
  bottom: 5%;
}

p.date1 {
  position: relative;
  top: -98%;
  right: -58%;
  background-color: #FC435B;
  width: 40%;
  height: 12%;
  padding: 1%;
  padding-top: 5%;
  text-align: center;
  color: #fff;
}

p.date2 {
  position: relative;
  top: -54%;
  right: -58%;

  background-color: #FC435B;
  width: 40%;
  height: 12%;
  padding: 1%;
  padding-top: 5%;
  text-align: center;
  color: #fff;
}

p.date3 {
  position: relative;
  top: -90%;
  right: -58%;

  background-color: #FC435B;
  width: 40%;
  height: 12%;
  padding: 1%;
  padding-top: 5%;
  text-align: center;
  color: #fff;
}
