*{
  list-style-type: none;
}

div.line {
  border-left: 6px solid #0C618C;
  height: 90%;
  position:absolute;
  left: 50%;
  top: 5%;
  bottom: 5%;
}

div:not(.line) {
  height: 150px;
  width: 200px;
  background-color: #555;
  border: 2px solid black;
  margin-top: 5%;
}

div.absolute-right {
  margin-left: 55%;
}

div.absolute-left-1 {
  left: auto;
  right: 20px;
  text-align: right;
}

div.absolute-left-2 {
  left: auto;
  right: 20px;
  text-align: right;
}

div.absolute-left {
  margin-left: 30%;
}

/*makes circle background for fa icons */
i.circle-icon {
  background: #0C618C;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
  vertical-align: middle;
  padding: 5px;
  color: #fff;
}

i.fai-left {
  position: relative;
  left: 36%;
}

i.fai-right {
  position: relative;
  right: 36%;
}
